<tr class="seek" id= <%= "seek_#{seek.id}" %>>
  <td class="cancel">
    <% if seek.user == current_user %>
      <%= button_to '×', seek, method: :delete, remote: true %>
    <% end %>
  </td>
  <td class="seeker" %>
    <%= seek.user.handle %>
  </td>
  <td class="time-control">
    <%= (seek.timecontrol)/60 %>
  </td>
</tr>
