/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

/* Site wide font */
@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* some basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}


/* colours */
$olive: #7a6c5d;
$light-red: #c17c74;
$light-olive: #bcac9b;
$dark: #2a3d45;
$light: #f2ebe3;

body {
  background-color: $light; 
}

ul {
  margin: 0;
  padding: 0;
}
/* Styling for the global nav bar */
.global-navbar {
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Cinzel', serif;
  font-size: 2rem;

  border-bottom: $dark solid 2px;
}

.global-nav {
  display: inline-flex;
  list-style: none;


  .global-nav-item {
    flex: 1;

    .global-nav-link {
      color: $dark;
    }
  }
}

.global-nav.left {
  font-weight: bold;
  flex: 2;
}

.global-nav.right {
  flex: 1;
  text-align: center;
}

/* End Styling of global nav bar */
