body {
  font-family: 'Cinzel', 'courier'
}

.main-container {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.seeklist-container {
  border: #2a3d45 solid 1px;
  table {
    width: 100%;
  }
  tr {
    width: 100%;
    border-bottom: black solid 1px;
  }
  td {
    width: 32%;
  }
  .cancel {
    width: 4%;
    input {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
    }
  }
}

.seek-form-container {
  border: black solid 1px;
  form {
    display: flex;
    flex-direction: column;

    .time-control-field {
      display: flex;
      align-items: center;
      input {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 70px;
      }
    }

    .button {
      margin-left: auto;
      margin-right:auto;
      width: 100px; 
    }
  }

}
