<div id="email-wrapper">
  <div id="header">
    <table>
      <tbody>
        <tr>
          <td width='40px'><%= image_tag('horse.svg') %></td>
          <td>
            <h3>Welcome <%= @resource.handle %>!</h3>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div id="body">
    <p>You can confirm your account email through the link below:</p>
    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
  </div>
</div>
